Normative statements checklist: 8. Methods

_NOTE: none of these are machine testable as they involve looking over DID method spec text, so I don't expect any to be checked off as part of the test suite, but including for completeness._


## 8.1 Method Syntax

* [ ] A DID method specification MUST define exactly one method-specific DID scheme that is identified by exactly one method name as specified by the method-name rule in § 3.1 DID Syntax.
* [ ] The DID method specification MUST specify how to generate the method-specific-id component of a DID.
* [ ] The DID method specification MUST define sensitivity and normalization of the value of the method-specific-id.
* [ ] The method-specific-id value MUST be unique within a DID method. The method-specific-id value itself might be globally unique.
* [ ] Any DID generated by a DID method MUST be globally unique.
* [ ] To reduce the chances of method-name conflicts, a DID method specification SHOULD be registered in the DID Specification Registries [DID-SPEC-REGISTRIES].
* [ ] The method-specific-id format MAY include colons. The use of colons MUST comply syntactically with the method-specific-id ABNF rule.
* [ ] A DID method specification MUST define how authorization is performed to execute all operations, including any necessary cryptographic processes.
* [ ] A DID method specification MUST specify how a DID controller creates a DID and its associated DID document.
* [ ] A DID method specification MUST specify how a DID resolver uses a DID to resolve a DID document, including how the DID resolver can verify the authenticity of the response.
* [ ] A DID method specification MUST specify what constitutes an update to a DID document and how a DID controller can update a DID document or state that updates are not possible.
* [ ] The DID method specification MUST specify how a DID controller can deactivate a DID or state that deactivation is not possible.
* [ ] A DID method specifications MUST follow all guidelines and normative language provided in RFC3552: Writing Security Considerations Sections for the DID operations defined in the DID method specification.
* [ ] The Security Considerations section MUST document the following forms of attack for the DID operations defined in the DID method specification: eavesdropping, replay, message insertion, deletion, modification, denial of service, storage or network amplification, and man-in-the-middle. Other known forms of attack SHOULD also be documented.
* [ ] The Security Considerations section MUST discuss residual risks, such as the risks from compromise in a related protocol, incorrect implementation, or cipher after threat mitigation was deployed.
* [ ] The Security Considerations section MUST provide integrity protection and update authentication for all operations required by Section § 8.2 Method Operations.
* [ ] If authentication is involved, particularly user-host authentication, the security characteristics of the authentication method MUST be clearly documented.
* [ ] The Security Considerations section MUST discuss the policy mechanism by which DIDs are proven to be uniquely assigned.
* [ ] Method-specific endpoint authentication MUST be discussed. Where DID methods make use of DLTs with varying network topology, sometimes offered as light node or thin client implementations to reduce required computing resources, the security assumptions of the topology available to implementations of the DID method MUST be discussed.
* [ ] If a protocol incorporates cryptographic protection mechanisms, the DID method specification MUST clearly indicate which portions of the data are protected and by what protections, and it SHOULD give an indication of the sorts of attacks to which the cryptographic protection is susceptible. Some examples are integrity only, confidentiality, and endpoint authentication.
* [ ] Data which is to be held secret (keying material, random seeds, and so on) SHOULD be clearly labeled.
* [ ] DID method specifications SHOULD explain and specify the implementation of signatures on DID documents, if applicable.
* [ ] Where DID methods use peer-to-peer computing resources, such as with all known DLTs, the expected burdens of those resources SHOULD be discussed in relation to denial of service.
* [ ] DID methods that introduce new authentication service types, as described in § 5.4 Services, SHOULD consider the security requirements of the supported authentication protocol.
* [ ] The DID method specification's Privacy Considerations section MUST discuss any subsection of Section 5 of [RFC6973] that could apply in a method-specific manner. The subsections to consider are: surveillance, stored data compromise, unsolicited traffic, misattribution, correlation, identification, secondary use, disclosure, and exclusion. 


I have reviewed all of these and agree that none of them are machine-testable. One of them (the seventh on the list) is a syntactic conformance requirement but it only applies to a method-specific-id, which we do not define in the main DID spec itself. So I believe we can close this issue.