Need tests for DID Parameters

[3.2.1 DID Parameters](https://w3c.github.io/did-core/#did-parameters)


<table>
  <tr>
   <td><strong>Parameter Name</strong>
   </td>
   <td><strong>Description</strong>
   </td>
  </tr>
  <tr>
   <td><code><a href="https://sites.local/did-core/#dfn-service">service</a></code>
   </td>
   <td>
If present, the associated value <em>MUST</em> be an <a href="https://infra.spec.whatwg.org/#ascii-string">ASCII string</a>.
   </td>
  </tr>
  <tr>
   <td><code>relativeRef</code>
   </td>
   <td>
If present, the associated value <em>MUST</em> be an <a href="https://infra.spec.whatwg.org/#ascii-string">ASCII string</a> and <em>MUST</em> use percent-encoding for certain characters as specified in <a href="https://tools.ietf.org/html/rfc3986#section-2.1">RFC3986 Section 2.1</a>.
   </td>
  </tr>
  <tr>
   <td><code>versionId</code>
   </td>
   <td>
If present, the associated value <em>MUST</em> be an <a href="https://infra.spec.whatwg.org/#ascii-string">ASCII string</a>.
   </td>
  </tr>
  <tr>
   <td><code>versionTime</code>
   </td>
   <td>
If present, the associated value <em>MUST</em> be an <a href="https://infra.spec.whatwg.org/#ascii-string">ASCII string</a> which is a valid XML datetime value, as defined in section 3.3.7 of <a href="https://www.w3.org/TR/xmlschema11-2/">W3C XML Schema Definition Language (XSD) 1.1 Part 2: Datatypes</a> [<a href="https://sites.local/did-core/#bib-xmlschema11-2">XMLSCHEMA11-2</a>]. 
<p>

This datetime value <em>MUST</em> be normalized to UTC 00:00:00 and without sub-second decimal precision. For example: <code>2020-12-20T19:17:47Z</code>.
   </td>
  </tr>
  <tr>
   <td><code>hl</code>
   </td>
   <td>
If present, the associated value <em>MUST</em> be an <a href="https://infra.spec.whatwg.org/#ascii-string">ASCII string</a>.
   </td>
  </tr>
</table>

@clehner will be implementing this on behalf of @spruceid.

@clehner could you please go back through the tests and add the section number beside each test: https://github.com/w3c/did-test-suite/pull/34/files#diff-3180d1c8eeef857a89a3d40db4c10240e9a5ade6f31d224cc111c9708f927906R19

Like this:

https://github.com/w3c/did-test-suite/blob/main/packages/did-core-test-server/suites/did-spec/did-core-properties.js#L20-L22

It's going to be very hard to line failing/passing tests up with the normative language in the specification without each test clearly stating which section and exactly what normative language is being tested.

The Editors are going to have to make a /manual/ pass through the entire specification to see if all normative statements tested match up with all normative statements in the specification... and not knowing the section number of a test, or having to deal with text that isn't in the specification is going to make our jobs much harder.

Will do.
