Normative statements checklist: Section 3. Identifiers

## 3.1 DID Syntax

* [x] All DIDs MUST conform to the DID Syntax ABNF Rules.

## 3.2 DID URL Syntax

* [x] All DID URLs MUST conform to the DID URL Syntax ABNF Rules.

### 3.2.1 DID Parameters 

* [x] `service`: If present, the associated value MUST be an ASCII string.
* [x] `relativeRef`: If present, the associated value MUST be an ASCII string and MUST use percent-encoding for certain characters as specified in RFC3986 Section 2.1.
* [x] `versionId`: If present, the associated value MUST be an ASCII string.
* [x] `versionTime`: If present, the associated value MUST be an ASCII string which is a valid XML datetime value, as defined in section 3.3.7 of W3C XML Schema Definition Language (XSD) 1.1 Part 2: Datatypes [XMLSCHEMA11-2].
* [x] ...This datetime value MUST be normalized to UTC 00:00:00 and without sub-second decimal precision.
* [x] `hl`: If present, the associated value MUST be an ASCII string.
* [ ] For maximum interoperability, it is RECOMMENDED that DID parameters use the DID Specification Registries mechanism [DID-SPEC-REGISTRIES]

### 3.2.2 Relative DID URLs

* [x] When resolving a relative DID URL reference, the algorithm specified in RFC3986 Section 5: Reference Resolution MUST be used. 

I have performed a full review of the tests above. All tests with ticked checkboxes exist in the test suite. All tests that are not checked do not have active/associated tests in the test suite.