Need tests for Syntax and DID URL Syntax

[3.1 DID Syntax \
](https://w3c.github.io/did-core/#did-syntax)All [DIDs](https://w3c.github.io/did-core/#dfn-decentralized-identifiers) _MUST_ conform to the DID Syntax ABNF Rules.


<table>
  <tr>
   <td><strong>The DID Syntax ABNF Rules</strong>
   </td>
  </tr>
  <tr>
   <td><code>did                = "did:" method-name ":" method-specific-id</code>
<p>
<code>method-name        = 1*method-char</code>
<p>
<code>method-char        = %x61-7A / DIGIT</code>
<p>
<code>method-specific-id = *( *idchar ":" ) 1*idchar</code>
<p>
<code>idchar             = ALPHA / DIGIT / "." / "-" / "_"</code>
   </td>
  </tr>
</table>


[3.2 DID URL Syntax \
](https://w3c.github.io/did-core/#did-url-syntax)

All [DID URLs](https://w3c.github.io/did-core/#dfn-did-urls) _MUST_ conform to the DID URL Syntax ABNF Rules.


<table>
  <tr>
   <td><strong>The DID URL Syntax ABNF Rules</strong>
   </td>
  </tr>
  <tr>
   <td><code>did-url = did path-abempty [ "?" query ] [ "#" fragment ]</code>
   </td>
  </tr>
</table>

[3.2.2 Relative DID URLs \
](https://w3c.github.io/did-core/#relative-did-urls)

When resolving a relative [DID URL](https://w3c.github.io/did-core/#dfn-did-urls) reference, the algorithm specified in [RFC3986 Section 5: Reference Resolution](https://tools.ietf.org/html/rfc3986#section-5) _MUST_ be used. The **base URI** value is the [DID](https://w3c.github.io/did-core/#dfn-decentralized-identifiers) that is associated with the [DID subject](https://w3c.github.io/did-core/#dfn-did-subjects), see [§ 5.1.1 DID Subject](https://w3c.github.io/did-core/#did-subject). The **scheme** is `did`. The **authority** is a combination of `&lt;method-name>:&lt;method-specific-id>`, and the **path**, **query**, and **fragment** values are those defined in [§ Path](https://w3c.github.io/did-core/#path), [§ Query](https://w3c.github.io/did-core/#query), and [§ Fragment](https://w3c.github.io/did-core/#fragment), respectively.


Danube Tech has contributed some early test code for DID and DID URL Syntax in https://github.com/w3c/did-test-suite/pull/12 and will continue to work on updating these tests if needed.